/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.crsg-stationfinder  {
  background: #ccc;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
